body, #settings, #notifications, #submit {
background-color: #555;
}

#frontpage .posts .card, #userpage .posts .card, #search .posts .card, #guild .posts .card {
    padding: 5px 15px;
    border-width: 0 0 1px;
    background-color: #000000d6;
}
#frontpage .post-title a {
	color: #979797;
}
.post-filter {

    background-color: black;
}
.navbar-light {
    background-color: #000;
}

.col {

    background-color: black;
}

*, ::before, ::after {
	box-sizing: border-box;
	color: #805ad5;
}

/*
sticky-63 removes donate link for play store
*/
.sticky-63 {

    visibility: hidden;
}















#frontpage .posts .card, #userpage .posts .card, #search .posts .card, #guild .posts .card {
	padding: 7px 15px;
	border-width: 0 0 1px;
	background-color: transparent;
}