#frontpage .posts .card, #userpage .posts .card, #search .posts .card, #guild .posts .card {
background-color: transparent;
}
.posts, #thread #main-content-col {
background-color: #000000c7;
}
#frontpage, #search, #guild {
padding-top: 98px;
background-color: #0000;
background-attachment: fixed;
background-image: url("https://ruqqus.com/assets/images/guilds/default-guild-banner.png");
}
*, ::before, ::after {
color: #805ad5;

}
.navbar-light {
background-color: #000000e6;
}
.navbar-nav .nav-link, .navbar-expand-md .navbar-nav .nav-link {
color: #805ad5;
}
#frontpage .post-title a {
color: #fff;
font-weight: bold;
padding-top: 5px;
}
#frontpage .post-title a:hover, #frontpage .post-title a:active, #frontpage .post-title a:focus {
	color: #a8a8a8;
	padding-top: 4px;
}
.post-actions {
color: #a0aec0;
font-weight: 400;
box-shadow: 1px 1px 0px 0px #805ad5;
border-left: hidden;
border-radius: 10px;

}
.score {
color: #718096;
font-weight: 900;
}
.arrow-up::before, .arrow-down::before, .arrow-up:hover::before, .arrow-down:hover::before {
font-size: 1.8rem;
padding-right: 18px;
padding-left: 15px;
font-weight: 600;
}
.fa-arrow-alt-up::before {
font-size: 1.8rem;
font-weight: 600;
}
.fa-arrow-alt-down::before {
font-size: 1.8rem;
font-weight: 600;
}
.arrow-down::before {
font-size: 1.8rem;
color: #cbd5e0;
font-weight: 600;
}
.comment-actions .score {
color: #747474;
font-weight: 900;
}
.score {
color: #fff;
font-weight: 900;
}
.comment-actions .list-inline {
margin-bottom: 1rem;
word-break: break-word;
color: #877ae4;
overflow: hidden;
border-style: hidden;
border-left-style: hidden;
box-shadow: 1px 1px 0px 0px #767676;
border-radius: 10px;
}
.comment .comment-body .user-info {
font-size: 15px;
color: #0067ff;
margin-bottom: .25rem;
margin-top: -.25rem;
margin-left: 0.5rem;
font-weight: 800;
}
.profile-pic-25 {
width: 45px;
height: 45px;
border-radius: 10%;
}
.post-img {
width: 140px;
height: 90px;
background-color: #805ad530;
border-radius: 10px;
box-shadow: 6px 5px 6px 1px #805ad590;
padding: 0px;
margin-top: 15px;
margin-right: 3px
}
#fixed-bar-mobile {
box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.05),0 0 0 2px rgb(255, 255, 255);
}
.bg-white {
background-color: #000000de !important;
}
.pl-3, .px-3 {
padding-left: 35% !important;
background-color: black;
}
.dropdown-actions .fa, .dropdown-actions .fas, .dropdown-actions .far {
font-size: 1.3rem;
color: #fff;
}
.dropdown-actions .fa, .dropdown-actions .fas, .dropdown-actions .far {
font-size: 1.3rem;
color: #805ad5;
background-color: black;
width: 1.6rem;
}
.dropdown-menu.show {
display: block;
background: black;
}
.dropdown-item {
color: #fff;
}
.text-muted {
color: #fff !important;
font-weight: 600;
}
.font-weight-normal {
font-weight: 600 !important;
}
#frontpage .posts .card, #userpage .posts .card, #search .posts .card, #guild .posts .card, #settings-guild .posts .card {
border-style: hidden;
}
.post-actions .fa, .post-actions .fas, .post-actions .far {
font-size: 1.2rem;
color: #805adf;
margin-left: 10px;
margin-top: 15px;
}
.post-title {
font-size: 14px;
font-weight: 400;
line-height: normal;
padding-top: 7px;
}
#thread #main-content-col {
background-attachment: fixed;
background-image: url("https://ruqqus.com/assets/images/guilds/default-guild-banner.png");
}
.comment-write.collapsed textarea {
background-color: #805ad5;
}
.comment .comment-body .comment-text {
margin-bottom: 1rem;
word-break: break-word;
}

.comment-actions .score {
color: #fff;
font-weight: 900;
}
.score {
color: #f8f8f8;
font-weight: 900;
}
.comment-actions .list-inline {
margin-bottom: 1rem;
word-break: break-word;
color: #877ae4;
overflow: hidden;
border-style: hidden;
border-left-style: hidden;
box-shadow: 1px 1px 0px 0px #805ad5;
border-radius: 10px;
}
.comment-actions .score {
font-weight: 600;
font-size: 1.25rem;
}
.comment .comment-body .comment-text {
margin-bottom: 1rem;
}
p {
margin-left: 0.5rem;
color: white;
font-weight: 600;
}
.profile-pic-25 { width: 45px;
height: 45px;
border-radius: 10%;
}
.comment-actions .score { font-weight: 600;
}
.comment .comment-body .comment-text { margin-bottom: 1rem;
word-break: break-word;
background-color: #00000038;
	border-radius: 10px;
	box-shadow: 1px 1px 3px 0px #805ad5;
	padding: 8px;

    margin-left: 0.5rem;
    color: white;
    font-weight: 600;
}
.comment .comment-body .comment-text {
color: #fff;
}
.comment-section {
	background-color: #000000a1;
}
.comment .comment-body .user-name {
    color: #af8cff;
    font-weight: 600;
}
.text-black {
    color: #fff !important;
    font-weight: 600;
}
element {
	margin-top: -70px;
	background-color: transparent;
}
.mb-3, .my-3 {
    margin-bottom: 1px !important;
    background-color: #000000b5;
}
.text-gray-500 {
    color: #fff0 !important;
}
